body {
  font-family: sans-serif;
}

/* main container */

#main-view {
  display: flex;
}

/* form */

#logo {
  width: 250px;
}

#form {
  width: 18em;
  height: 100vh;
  background-color: grey;
  font-size: 25px;
  position: fixed;
}

#name {
  display: block;
  width: 100%;
  padding: 0;
}

#role {
  display: block;
  width: 100%;
}

#location {
  display: block;
  width: 100%;
}

/* member-banner */

#member-card {
  display: flex;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 0 15px 0;
}

#banner-info {
  align-self: center;
  font-size: 25px;
}

#banners {
  width: 100vw;
  margin-left: 29em;
}
