body {
  background-color: #ffffff;
}

img {
  width: 325px;
  /* border-top: 5px solid grey;
  border-bottom: 5px solid grey; */
  padding: 1em;
  margin: 3em 0;
  filter: invert(100%);
}

form {
  display: inline-block;
  width: 400px;
  height: 625px;
  /* margin: 0 auto; */
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#user-info {
  background-color: #386fa4;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  font-size: 30px;
  border: 1px solid black;
  text-align: center;
}

#famName {
  width: 325px;
}

#submit {
  font-size: 25px;
  border-radius: 15px;
  padding: 10px 100px;
  /* background-color: #e8db7d; */
  background-color: #000000;
  color: #ffffff;
  border-width: 0;
  margin-top: 2rem;
  transition: transform 0.2s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
